//commander-islands


// ------- Breakpoints -------
$small       :  576px;
$medium      :  768px;   // small tablets
$large       :  992px;   // tablets and small desktops
$x-large     :  1200px;  // large desktops


// ------- Colors -------
$headerTextColor: white;

